*:not(dialog) {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --board-border-thickness: 3px;
    --board-border-clr: black;
    --board-bg-clr: white;
    --player1-bg-color: aliceblue;
    --player2-bg-color: aliceblue;
    --body-bg-clr: #FAF0E6;
    --x-clr: #ff4d4f;
    --play-btn-txt: white;
    --play-btn-hover: #333333;
    --play-btn-bg: #1f1f1f;
    --selector-btn-hvr: #e8e3d9;
    --selector-btn-bg: #f5f3eb;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--body-bg-clr);
}

.grid-container {
    height: 90vh;
    width: 90%;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 300px 1fr 0.5fr;
    grid-template-areas: "player1 board player2";
    gap: 10px;

}

.grid-container,
.player1-section,
.player2-section,
#game-title,
#selector {
    font-family: 'Bungee', sans-serif;

}

/* Players Section */

.player1-section {
    grid-area: player1;
    background-color: var(--player1-bg-color);
    max-width: 300px;

}

h1 {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#player1-name,
#player2-name {
    font-size: 2rem;
    text-align: center;
}

.player2-stats,
.player1-stats {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

.player1-section,
.player2-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
}

.btn,
#reset-btn {
    font-size: 1.2rem;
    padding: 10px;
    width: 100%;
    background-color: #1f1f1f;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border: none;
    outline: none;
}

.btn {
    text-decoration: none;
}


#player1-symbol,
#player2-symbol {
    font-size: 10rem;
}

#p2-wins,
#p1-wins {
    font-size: 1.5rem;
}

#p2-wins-stat,
#p1-wins-stat {
    font-weight: bold;
}

.player2-section {
    grid-area: player2;
    background-color: var(--player2-bg-color);
}

/* BOARD */

.board-grid {
    grid-area: board;
    background-color: var(--board-bg-clr);

    display: grid;

    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;

    font-weight: bold;
    font-size: 8rem;
}

.cell:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}

.square5 {
    border: var(--board-border-thickness) solid var(--board-border-clr);
}

.square2,
.square8 {
    border-right: var(--board-border-thickness) solid var(--board-border-clr);
    border-left: var(--board-border-thickness) solid var(--board-border-clr);
}

.square4,
.square6 {
    border-top: var(--board-border-thickness) solid var(--board-border-clr);
    border-bottom: var(--board-border-thickness) solid var(--board-border-clr);
}

.x-symbol {
    color: red;
}

.o-symbol {
    color: blue;
}

.disabled {
    pointer-events: none;
}

/* DIALOG */

#game-title {
    font-family: 'Bungee', sans-serif;
    font-size: 5rem;
}

#starting-screen {
    border-radius: 10px;
    border: none;
    padding: 20px;
}

#form-dialog {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: 1fr;
    grid-template-areas: "information selection";
    gap: 10px;
}

.player-info {
    grid-area: information;
}

.selection {
    grid-area: selection;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

#selector {
    width: inherit;
    height: inherit;
    font-size: 5rem;
    font-weight: bold;
    border-radius: 10px;
    color: #ff4d4f;
    border: none;
    background-color: var(--selector-btn-bg);
}

#selector:hover {
    cursor: pointer;
    background-color: var(--selector-btn-hvr);
    transform: scale(1.01);
}

#label-name,
#label-opponent-type {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
    font-size: 1.2rem;
}


#name {
    flex: 1;
    padding: 2px;
    font-size: 1.2rem;

}

.player-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    height: 100%;
}

#opponent-type {
    flex: 1;
    padding: 3px;
    font-size: 1.2rem;
}

#play-btn {
    width: 100%;
    padding: 5px;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 10px;
    border: none;
    background-color: var(--play-btn-bg);
    color: var(--play-btn-txt);
}

#play-btn:hover,
#reset-btn:hover,
.btn:hover {
    background-color: var(--play-btn-hover);
    transform: translateY(-2px);
    cursor: pointer;
}